<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Configuração simples do console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %5p [%t] %logger{36} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Configuração da aplicação -->
    <logger name="fiap.msmedicamentos" level="INFO"/>
    
    <!-- Reduzir logs externos -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.flywaydb" level="INFO"/>

    <!-- Root logger usa apenas console para Docker -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
